.index-title h1{
  background-color: rgba($color: #C8C6C6, $alpha: 0.8);
  color: white;
  font-family: monospace;
  text-align: center;
}

.card-img-top{
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;

}

.card-body{
  margin-top: 10px;
}


// test

// .category .job {
//     height: 280px;
//     border: 1px solid transparent;
//     padding: 30px 19px 25px 19px;
//     border-radius: 5px;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// }

// .category .job:hover {
//     border: 1px solid #0d6efd;
// }

// .category .job span {
//     padding: 6px 20px;
//     font-weight: 400;
//     border-radius: 26px;
//     display: inline-block;
// }

// .category .job .colors1 {
//     font-weight: 800;
//     color: #F27E42;
//     background: #f27e4242;
// }

// .category .job .colors2 {
//     font-weight: 800;
//     color: #4294F2;
//     background: rgba(66, 148, 255, 0.26);
// }

// .category .job .colors3 {
//     font-weight: 800;
//     color: #2EB98D;
//     background: rgba(46, 185, 141, 0.03);
// }

// .category .job .colors4 {
//     font-weight: 800;
//     color: #6A42F2;
//     background: rgba(106, 66, 242, 0.07);
// }

// .category .job .colors5 {
//     font-weight: 800;
//     color: #F162BC;
//     background: rgba(241, 98, 188, 0.07);
// }

// .category .job .colors2 {
//     font-weight: 800;
//     color: #4294F2;
//     background: rgba(66, 148, 255, 0.26);
// }

// a {
//     text-decoration: none;
//     font-size: 20px;
//     font-weight: 600;
//     color: #071112;
//     text-transform: capitalize;
//     margin-bottom: 17px;
//     display: block;
// }

// .place {
//     display: flex;
//     align-items: center;
//     font-size: 12px;
//     padding-left: 0px;
//     color: #76787A;
// }

// .left {
//     font-weight: 800;
// }

// .category .job span.time {
//     font-weight: 900;
// }

// .btn.btn-primary {
//     width: 150px;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }


// .mt-30 {
//     margin-top: 30px;
// }

// .mb-30 {
//     margin-bottom: 30px;
// }
