.index-title h1{
  background-color: rgba($color: #C8C6C6, $alpha: 0.8);
  color: white;
  font-family: monospace;
  text-align: center;
}

.card-img-top{
  img {
    border-radius: 12px;
    height: 214px;
    width: 100%;
    object-fit: cover;
  }

}

.card-body{
  margin-top: 10px;
}
