<div class="dashboard-container">
  <% if current_user.employer %>
    <%= render 'employer-dashboard' %>
  <% else %>
    <%= render 'student-dashboard' %>
  <% end %>
</div>



<%# #creer route avec nom de la definition ( controller #nom de la def) DANS PASGES CONTROLLER OK
#display @jobs (def crée)
#Quand on clique sur un job, redirigé vers le show page du dashboard employeur %>
