<div class="home-container">
    <div class="banner" style="https://kenzhypermarket.com/wp-content/uploads/2019/03/Career-Banner.jpg">
    <div class="container">
      <h1>Click & job</h1>
      <p>As easy as it sounds!</p>
      <% if current_user  %>
        <a class="btn btn-flat" href= "<%= jobs_path%>" >Find jobs around you!</a>
      <% else %>
        <a class="btn btn-flat" href= "<%= new_user_registration_path%>" >Get started!</a>
      <% end %>
    </div>
  </div>
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://img.freepik.com/free-vector/tiny-people-searching-business-opportunities_74855-19928.jpg?w=360)"></div>
        <ul class="details">
          <li class="author"><a href="#">Sign up!</a></li>
          <li class="date">Find a job that suits you</li>
          <li class="date">Work </li>
          <li class="tags">
            <ul>
              <li><a href="#">It's that easy!</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Want to make extra money?</h1>
        <h2>Clik&Job provides short term contract jobs on short notice!</h2>
        <p> Describe the advantage on a student point of view</p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(https://jobs4ukr.com/uploads/2022/02/26/LYpPA5xCNc2EZfbNt8ZodmOSwlyx0s2yvN3x5dAc_talent.png)"></div>
        <ul class="details">
          <li class="author"><a href="#">Post your available jobs on the app</a></li>
          <li class="date">Receive applications from matching profiles</li>
          <li class="date">Let's get that business running!</li>

        </ul>
      </div>
      <div class="description">
        <h1>Last minute job position to fulfill?</h1>
        <h2>We've got the solution for you!</h2>
        <p>With Click&Job you don't need to worry about blablabla (to complete), in a simple click, post the job </p>
        <p class="read-more">
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
</div>
