
<div class="banner" style="https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-recruitment-background-banner-image_159061.jpg">
  <div class="container">
    <h1>Click & Job</h1>
    <p>Get yourself an extra revenue in a click!</p>
    <% if current_user  %>
      <a class="btn btn-flat" href= "<%= jobs_path%>" >Find jobs</a>
    <% else %>
      <a class="btn btn-flat" href= "<%= new_user_registration_path%>" >Get started</a>
    <% end %>
  </div>
</div>

<div class="kards">
  <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.smallbusinessact.com/wp-content/uploads/2019/01/SBA-Types-de-contrats-de-travail-2.png">
    Sign up
  </div>

  <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/people-holding-connected-copy-space-circle-icons_53876-59904.jpg?w=2000)">
    Connect
  </div>

  <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn1.vectorstock.com/i/1000x1000/82/00/young-people-having-fun-and-startuping-confetti-vector-13688200.jpg)">
    Work
  </div>
</div>
