.btn-danger{
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #ff2a00;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

#form_button{
  border-radius: 10px;
}
