.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

#map{
  width: 2500px;
  height: 100vh;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-right: 24px;
  border: 1px solid #bacdd8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
}

.content{
  display: flex;
}
