.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-auto-rows: minmax(100px, auto);
  width: 64%
}

.test{
  display: flex;
  margin-top: 16px;
  padding: 16px;
  justify-content: space-around;
}

.request-header h3{
  border: solid;
  border-width: 2px;
  text-align: center;
  border-color: rgba($color: #0E0000, $alpha: 0.9);
  border-style: double;
}

.student-card-show.img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

// .student-card-show{
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
// }

.student-card-show img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;

}

#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card-show {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

/* Style p element */
.student-card__details h4, p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

.student-card-show{
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}

/* Style button element */
.btn-primary {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.student-card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}
